
.renew-companyId_head {
    width: 15% !important;
    max-width: 130px;
    font-family: 'cs_chatthaiuiregular', sans-serif;
    font-size: 15px !important;
    line-height: 1.53em !important;
    // padding: 0 !important;
  }

ngx-datatable {
    datatable-header-cell.renew-companyId_head {
      padding-left: 5px !important;
      .input-group-sm input {
        width: 100px;
      }
    }
}

.section-1 {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left-div {
        display: flex;
        .summary-box {
            padding: 0px 55px 0px 15px;
            .title {
                font-size: 13px;
            }
            .amount {
                font-size: 32px;
            }
        }
        .summary-box:not(:last-child){
            border-right: 1px solid black;
        }
    }
}
#transaction-list-div{
    
}