.section-1 {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left-div {
        display: flex;
        .summary-box {
            padding: 0px 55px 0px 15px;
            .title {
                font-size: 13px;
            }
            .amount {
                font-size: 32px;
            }
        }
        .summary-box:not(:last-child){
            border-right: 1px solid black;
        }
    }
}