<div id="transaction-list-page"> 
    <div class="wapper">
    <div class="section-1">
        <div class="left-div">
            <div class="flex-item-div">
                    <div class="title">Income</div>
                    <div class="amount color-green">6000</div>
            </div>
    
            <div class="flex-item-div">
                    <div class="title">Expense</div>
                    <div class="amount color-red">6000</div>
            </div>
    
            <div class="flex-item-div">
                    <div class="title">Balance</div>
                    <div class="amount color-blue">6000</div>
            </div>
        </div>
      
        <div class="right-div">
            <div>
                <button class="btn btn-success">+Add</button>
            </div>
          
        </div>
    </div>
    <div class="section-2">
      <div class="left-div">
        <div class="item-div">
          <div class="title">Income/Expense</div>
          <select class="form-select" aria-label="Default select example">
            <option selected>All</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        
        <div class="item-div">
          <div class="title">From</div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="item-div">
        -
        </div>
       
        <div class="item-div">
          <div class="title">To</div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>


        <div class="item-div">
          <div class="title">Category</div>
          <select class="form-select" aria-label="Default select example">
            <option selected>All Category</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

      </div>

      <div class="right-div">
        <div>
          <button class="btn btn-primary">Go</button>
        </div>
      </div>
  </div>

  <div class="section-3">
    <div id="transaction-list-div">
        <div class="transaction-head">
            <div>Income/Expense</div>
            <div>Date</div>
            <div>Category</div>
            <div class="text-right">Amount</div>
            <div>&nbsp;</div> 
        </div>
        <div class="transaction-row-div">
            <div *ngFor="let row of rows"> 
                <div class="transaction-row" >
                    <div>{{ row.type }}</div>
                    <div>{{ row.transactionDate }}</div>
                    <div>{{ row.categoryId  }}</div>
                    <div class="text-right">{{ row.value }}</div>
                    <div class="text-center">A S</div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div> 
  
   
</div>
