<div id="transaction-list-page">
    transaction-list-component works
    <div class="section-1">
        <div class="left-div">
            <div class="flex-item-div">
                    <div class="title">Income</div>
                    <div class="amount green">6000</div>
            </div>
    
            <div class="flex-item-div">
                    <div class="title">Expense</div>
                    <div class="amount red">6000</div>
            </div>
    
            <div class="flex-item-div">
                    <div class="title">Balance</div>
                    <div class="amount blue">6000</div>
            </div>
        </div>
      
        <div class="right-div">
            <div>
                <button class="btn btn-success">+Add</button>
            </div>
          
        </div>
    </div>
    <ngx-datatable
        class="ngx-datatable material fullscreen ngx-basic-style">
        <ngx-datatable-column headerClass="renew-transaction" cellClass="renew-companyId">
            <ng-template let-renew="column" ngx-datatable-header-template>
              <div class="head">Income/Expense</div>
            </ng-template>
            <ng-template let-renew="row" ngx-datatable-cell-template>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column headerClass="renew-transaction" cellClass="renew-companyId">
            <ng-template let-renew="column" ngx-datatable-header-template>
              <div class="head">Date</div>
            </ng-template>
            <ng-template let-renew="row" ngx-datatable-cell-template>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column headerClass="renew-transaction" cellClass="renew-companyId">
            <ng-template let-renew="column" ngx-datatable-header-template>
              <div class="head">Catagory</div>
            </ng-template>
            <ng-template let-renew="row" ngx-datatable-cell-template>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column headerClass="renew-transaction" cellClass="renew-companyId">
            <ng-template let-renew="column" ngx-datatable-header-template>
              <div class="head">Amount</div>
            </ng-template>
            <ng-template let-renew="row" ngx-datatable-cell-template>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column headerClass="renew-transaction" cellClass="renew-companyId">
            <ng-template let-renew="column" ngx-datatable-header-template>
              <div class="head"></div>
            </ng-template>
            <ng-template let-renew="row" ngx-datatable-cell-template>
            </ng-template>
          </ngx-datatable-column>
    </ngx-datatable>
</div>
