<div id="transaction-list-page"> 
    <div class="wapper">
    <div class="section-1">
        <div class="left-div">
            <div class="flex-item-div">
                    <div class="title">Income</div>
                    <div class="amount green">6000</div>
            </div>
    
            <div class="flex-item-div">
                    <div class="title">Expense</div>
                    <div class="amount red">6000</div>
            </div>
    
            <div class="flex-item-div">
                    <div class="title">Balance</div>
                    <div class="amount blue">6000</div>
            </div>
        </div>
      
        <div class="right-div">
            <div>
                <button class="btn btn-success">+Add</button>
            </div>
          
        </div>
    </div>
    <ngx-datatable
        [rows]="rows"
        class="material">
        <ngx-datatable-column headerClass="renew-transaction" cellClass="renew-companyId">
            <ng-template let-renew="column" ngx-datatable-header-template>
              <div class="head">Income/Expense</div>
            </ng-template>
            <ng-template let-renew="row" ngx-datatable-cell-template>
                {{ row.type  }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column headerClass="renew-transaction" cellClass="renew-companyId">
            <ng-template let-renew="column" ngx-datatable-header-template>
              <div class="head">Date</div>
            </ng-template>
            <ng-template let-renew="row" ngx-datatable-cell-template>
                {{ row.date }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column headerClass="renew-transaction" cellClass="renew-companyId">
            <ng-template let-renew="column" ngx-datatable-header-template>
              <div class="head">Catagory</div>
            </ng-template>
            <ng-template let-renew="row" ngx-datatable-cell-template>
                {{ row.categoryId }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column headerClass="renew-transaction" cellClass="renew-companyId">
            <ng-template let-renew="column" ngx-datatable-header-template>
              <div class="head">Amount</div>
            </ng-template>
            <ng-template let-renew="row" ngx-datatable-cell-template>
                {{ row.value}}
            </ng-template>
          </ngx-datatable-column>
    </div> 
    <div class="section-2">
        <div class="left-div">
          <div class="item-div">
            <div class="title">Income/Expense</div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>

          <div class="item-div">
            <div class="title">Category</div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>

        </div>

        <div class="right-div">
          <div>
            <button class="btn btn-primary">XX</button>
          </div>
        </div>
    </div>
    <div class="section-3">
        <div id="transaction-list-div">
            <div class="transaction-head">
                <div>A1</div>
                <div>A2</div>
                <div>A3</div>
                <div>A4</div>
                <div>A5</div>
                <div>A6</div>
            </div>
            <div class="transaction-row-div">
    
                <div class="transaction-row" *ngFor="let row of rows">
                    <div>{{ row.type }}</div>
                    <div>{{ row.date }}</div>
                    <div>{{ row.categoryId  }}</div>
                    <div>{{ row.value }}</div>
                    <div>{{ A5}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
